body {
  margin: 0;
  font-family: 'Roboto Mono', 'Courier', 'Helvetica', sans-serif;;
  background: #fff;
  /* color: #4B4B4B; */
  color: #696969;
}

/* NAVIGATION */
nav {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #D3D3D3;
  max-width: 1000px;
  margin-top: 2em;
}


nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

nav li {
  padding: 0 1.5em;
}

nav a {
  color: #696969;
}


/* NAV MEDIA QUERY */
@media (min-width: 800px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

}



/* BODY */
.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
}

.top {
  display: flex;
  flex-direction: column;
}

#main-photo-weather {
  order: -1;
}

.main-text > p {
  margin: 2em 0;
}

.main-text {
  text-align: justify;
}

.main-text h2 {
  text-align: center;
}


.weather-links {
  font-size: .85rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 65%;
}

.weather-links p {
  display: flex;
  align-items: center;
}

.social-images {
  width: 20px;
  height: 20px;
  margin-right: .25em;
}

#me {
  width: 90%;
  margin: 0 auto;
  border-radius: 20%;
  max-width: 300px;
  opacity: 90%;
}


#location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
  margin-top: -.5em;
}

#pin {
  padding: 0 .5em;
}

@media (min-width: 800px) {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #main-photo-weather {
    margin-top: 1em;
    order: 0;
    width: 25%;
    min-width: 300px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-text {
    width: 60%;
    padding-right: 1em;
    text-align: justify;
  }

  .main-text h2 {
    text-align: left;
  }
}

/* TYPOGRAPHY */
h1 {
  font-weight: 400;
  font-size: 1.2rem;
}

a  {
  text-decoration: none;
  color: #4183C4;
}

a:hover,
a:focus {
  text-decoration: underline;
}

kbd {
  margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	line-height: 1.2;
	font-size: .75rem;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(247, 247, 247);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}


/* MAIN PROJECT PAGE */

.projects-container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  display: flex;
  flex-direction: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin: 1em;
  display: flex;
  flex-direction: column;
}


.project-img {
  margin: 0 auto;
  border-radius: 20%;
  max-width: 200px;
  opacity: 90%;
}


.project-description {
  text-align: center;
  font-size: .95rem;

}


/* INDIVIDUAL PROJECT PAGES */
.project-page-container {
  max-width: 1000px;
  width: 80%;
  margin: 3em auto 5em;
}

.project-page-container h2 {
  text-align: center;
}

.project-page-img {
  margin-right: 2em;
  margin-bottom: .5em;
  border-radius: 20%;
  max-width: 250px;
  opacity: 90%;
}

.project-template {
  margin-top: 3em;
}


.left-float {
  float: left;
  padding-right: 1em;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

nav li {
  padding: 0 1.5em;
}


@media (max-width: 600px) {
  .left-float {
    float: none;
    padding-right: 0;
  }

  .project-page-img {
    /* margin-right: 0; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .project-links {
    /* margin: 0 auto; */
    /* margin-top: 1em; */
    text-align: center;
    /* border: 1px solid black; */
  }
}